<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">Fakebook</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item {% if active_page == 'main.index' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('main.index') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if active_page == 'main.about' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
            </li>
            <li class="nav-item {% if active_page == 'main.contact' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('main.contact') }}">Contact</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item {% if active_page == 'blog.profile' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('blog.profile') }}">Profile</a>
            </li>
            <li class="nav-item {% if active_page == 'blog.network' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('blog.network') }}">Network</a>
            </li>
            {% endif %}
            <li class="nav-item {% if active_page == 'shop.index' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('shop.index') }}">Shop</a>
            </li>
            <li class="nav-item {% if active_page == 'shop.show_cart' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('shop.show_cart') }}">
                    Cart <span class="badge badge-light"><i class="fas fa-shopping-bag"></i> {{ cart_items|length }} |
                        ${{ subtotal }}</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav m1-auto">
            {% if not current_user.is_authenticated %}
            <li class="nav-item {% if active_page == 'authentication.login' %}active{% endif %}">
                <a href="{{ url_for('authentication.login') }}" class="nav-link">Login</a>
            </li>
            <li class="nav-item {% if active_page == 'authentication.register' %}active{% endif %}">
                <a href="{{ url_for('authentication.register') }}" class="nav-link">Register</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{{ url_for('authentication.logout') }}" class="nav-link">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>